# Basic dependencies
csv
io
os
streamlit
pandas
math
numpy
matplotlib
plotly
sympy
json
requests
itertools
PIL

# MongoDB integration
pymongo

# Statistical analysis
scipy

# Additional modules
streamlit_lottie
st_lottie_spinner
option_menu
Chart
Plots
TimeSeries
anova
Tests
Hypo_test
addon
txttocsv
