# Basic dependencies
streamlit==1.5.1
pandas==1.5.3
numpy==1.23.5
matplotlib==3.4.3
plotly==5.15.0
sympy==1.12.0
requests==2.26.0
pillow==9.0.0

# MongoDB integration
pymongo==4.0.1

# Statistical analysis
scipy==1.11.0

# Additional modules
streamlit-lottie==0.0.5  
streamlit_option-menu==0.3.6
certifi==2021.10.8
protoc == 3.19.0
